.notificationContainer{
    width:750px;
    height: 400px;
    background-color: #273143;
    border-radius: 5px;
    border: 1px solid #273143;
}

.pendingAction{
    position: absolute;
     right: 52%;
    bottom: 38%;
}

.archiveSection{
    width:250px;
    height: 465px;
    background-color: #273143;
    border-radius: 2px;
    border: 1px solid #273143;
}

.archiveHeader{
    font-size: 12px;
    background-color: #1B2531;
    padding: 5px;
}